.vscode/ 
node_modules/
.env
C:\Users\nasse\projet-stage-Alyf\alyfData.xlsm
C:\Users\nasse\projet-stage-Alyf\alyfDev.xlsm
*.pyc
.env
C:\Users\iggdu\Downloads\Test-fichier-excel\Test-fichier-excel\alyfData.xlsm
C:\Users\iggdu\Downloads\Test-fichier-excel\Test-fichier-excel\alyfDev.xlsm
